<Json name="documents" from="$(json)" />

<div class="pf-l-gallery pf-m-gutter">
    <ForEach name="document" in="documents.documents" take="9">
        <Define name="documentImg" value="$(document.img)" default="static/blog/empty_article.jpg">
            <div class="pf-l-gallery__item">
                <div class="pf-c-card">
                    <div class="pf-c-card__header">
                        <div class="pf-c-card__header-main">
                            <Picture src="$(documentImg)" />
                        </div>
                    </div>
                    <div class="pf-c-card__title">
                        <a href="$(document.uri)" style="text-decoration: underline">
                            $(document.title) by $(document.by)
                        </a>
                    </div>
                    <Optional if="$(document.summary)">
                        <div class="pf-c-card__body">
                            $(document.summary)
                        </div>
                    </Optional>
                    <Optional if="$(document.date)">
                        <div class="pf-c-card__footer">
                            $(document.date)
                        </div>
                    </Optional>
                </div>
            </div>
        </Define>
    </ForEach>
</div>

<ForEach name="document" in="documents.Documents" skip="9">
    <Header>
        <h2>Older posts</h2>
    </Header>
    <ItemTemplate>
        <a href="$(document.uri)">$(document.title) by $(document.by)</a><br />
    </ItemTemplate>
</ForEach>